:root {
  --main-color: #007ABE;
  --btn-color: #D93431;
  --black: #2D3032;
}

@font-face {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro'),
    url(../fonts/SourceSansPro-Regular.ttf);
}

body {
  font-family: 'Source Sans Pro';
  font-size: 20px;
  background: #F7F7F7;
  color: var(--black);
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: auto;
}

.header {
  background: url(../images/header.png);
  background-size: cover;
  padding-bottom: 50px;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 140px;
  margin-bottom: 50px;
}

.logo {
  font-weight: bold;
  font-size: 80px;
  max-height: 140px;
  color: var(--main-color);
}

.call {
  display: flex;
  flex-direction: column;
}

.call__number {
  display: flex;
  margin-bottom: 10px;
}

.call-phone {
  margin-left: 10px;
  font-size: 30px;
  line-height: initial;
}

.call-phone__inner {
  color: var(--black);
}

.button {
  height: 38px;
  width: 260px;
  background: var(--btn-color);
  color: #FFFFFF;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.sect-title {
  font-size: 36px;
  color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 45px;
}

.sect-title__underline {
  max-width: 71px;
  margin-top: 10px;
}

.callback-button {
  background: var(--main-color);
}

.header-title {
  display: flex;
  margin-bottom: 84px;
}

.header-title__inner {
  text-align: center;
}

.header-title__text {
  max-width: 450px;
  height: 270px;
  background: var(--main-color);
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-title__h1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.header-title__big-text {
  font-size: 64px;
}

.header-title__small-text {
  font-size: 23px;
}

.title-price {
  font-size: 64px;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 25px;
}

.header-title .button {
  margin: -27.5px auto;
}

.order-button {
  height: 55px;
}

.accreditation {
  width: 500px;
  height: 100px;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: var(--main-color);
  background: #FFFFFF;
  border: #007ABE 9px solid;
}

.accreditation__text {
  font-size: 27px;
  font-weight: bold;
}

.verification-cost {
  background: url(../images/52a49935c2cc180c697af0bd1a87b095.png);
  padding: 45px 0;
}

.verification-cost__title {
  position: relative;
  color: #FFFFFF;
}

.verification-cost__flexblocks {
  display: flex;
  justify-content: space-around;
  padding: 40px 10px;
  margin-bottom: 40px;
  font-size: 20px;
  text-align: center;
  background: var(--main-color);
  color: #FFFFFF;
}

.flexblock {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}

.flexblock .icon {
  margin-bottom: 5px;
}

.verification-cost__button {
  margin: auto;
}

.advantages {
  padding: 45px 0;
}

.advantages__flexblocks {
  display: flex;
  justify-content: space-around;
}

.advantages__flexblocks .icon {
  margin-bottom: 20px;
}

.advantages__flexblocks .text {
  text-align: center;
}

.scam {
  padding: 45px 0;
}

.scam__main {
  display: flex;
}

.scam-img {
  width: fill-available;
  width: -webkit-fill-available;
  width: -moz-available;
  max-width: 360px;
  max-height: 308px;
  margin-top: auto;
  margin: auto 25px 0;
  box-shadow: 25px 25px 0px var(--main-color);
}

.more-text-button {
  padding: 20px;
  text-align: center;
  color: var(--black);
  text-decoration: underline;
  cursor: pointer;
  display: none;
}

.more-text-dots {
  display: none;
}

.more-text_switcher {
  display: inline;
}

.certificate {
  padding: 56px 0;
  position: relative;
  background: url(../images/a35912ee2eb53f986c65d728a21859cb.png) no-repeat center;
}

.certificate__title {
  margin-bottom: 20px;
}

.certificate .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.union {
  width: 100%;
  position: absolute;
  min-height: 20px;
}

.union-up {
  top: 0;
}

.union-down {
  bottom: 0;
}

.certificate-img {
  max-width: 400px;
  width: fill-available;
  width: -webkit-fill-available;
  width: -moz-available;
}

.verification-cost2 {
  padding: 45px 0;
}

.verification-cost2 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.verification-cost2__title {
  max-width: 620px;
  text-align: center;
}

.verifictaion-cost2__flexblocks {
  display: flex;
  flex-direction: column;
  max-width: 620px;
}

.verifictaion-cost2__flexblocks .flexblock {
  width: 100%;
  min-height: 137px;
  color: #FFFFFF;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.verifictaion-cost2__flexblocks .flexblock+.flexblock {
  margin-top: 10px;
}

.verifictaion-cost2__flexblocks .flexblock .text {
  margin: 25px 55px;
}

.verifictaion-cost2__flexblock-title {
  font-size: 22px;
}

.verifictaion-cost2__flexblock-text {
  font-size: 17px;
}

.best {
  padding: 45px 0;
  background: url(../images/52a49935c2cc180c697af0bd1a87b095.png);
  color: #FFFFFF;
}

.best__title {
  color: #FFFFFF;
}

.best__main {
  display: flex;
  margin-bottom: 15px;
}

.best__text {
  font-size: 17px;
  margin-right: 10px
}

.best__img {
  height: 244px;
  width: 280px;
}

.best__button {
  margin: auto;
}

.feedback {
  padding: 45px 0;
  background: url(../images/a35912ee2eb53f986c65d728a21859cb.png) no-repeat;
  background-size: cover;
}

.slider-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  width: 600px;
  /* height: 200px; */
  margin: 0 20px;
  overflow: hidden;
}

.slider-line {
  width: 2400px;
  /* height: 200px; */
  display: flex;
  position: relative;
  left: 0;
  transition: all ease .5s;
}

.slider .item__inner {
  display: flex;
  max-width: 600px;
}

.arrow {
  cursor: pointer;
}

.slider-dots {
  display: flex;
  justify-content: center;
}

.slider-dot {
  height: 20px;
  width: 20px;
  cursor: pointer;
  border-radius: 50%;
  background: #666666;
}

.slider-dot_enabled {
  background: var(--main-color);
}

.slider-dot+.slider-dot {
  margin-left: 10px;
}

.feedback__item-text {
  margin-right: 20px;
}

.feedback__name {
  font-size: 22px;
  margin-bottom: 10px;
}

.feedback__name2 {
  font-size: 22px;
  display: none;
}

.feedback__text {
  font-size: 17px;
}

.feedback__img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.order {
  background: url(../images/149658b18af5ca931073f65d28b24e31.jfif);
  color: #FFFFFF;
  padding: 45px 0;
}

.order__title {
  color: #FFFFFF;
  margin-bottom: 20px;
}

.order__text {
  text-align: center;
  margin-bottom: 40px;
}

.order__form {
  display: flex;
  flex-direction: column;
}

.form-fields {
  display: flex;
  margin-bottom: 15px;
}

.form-contacts {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.form-contacts input {
  font-family: 'Source Sans Pro';
  font-size: 18px;
  max-width: 90%;
  height: 46px;
}

.form-contacts input:focus-visible {
  outline: none;
}

.form-contacts input+input {
  margin-top: 10px;
}

.form-fields textarea {
  font-family: 'Source Sans Pro';
  font-size: 18px;
  width: 50%;

}

.form-fields textarea:focus-visible {
  outline: none;
}

.form-button {
  border: none;
  height: 55px;
  margin: auto;
  cursor: pointer;
}

.footer {
  padding: 45px 0;
  background: #18252E;
  color: #FFFFFF;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}

.laws {
  display: flex;
  flex-direction: column;
}

.laws__privacy {
  margin-bottom: 10px;
  text-decoration: underline;
}

.contact {
  display: flex;
  flex-direction: column;
}

.contact__city {
  margin-bottom: 10px;
}

.email {
  display: flex;
  align-items: center;
}

.email img {
  margin-right: 3px;
}

.footer .call-phone__inner {
  color: #FFFFFF
}



@media (max-width:1000px) {

  .more-text-button {
    display: block;
  }

  .more-text_switcher {
    display: none;
  }

  .more-text-button-white {
    color: #FFFFFF;
  }
}

@media (max-width:850px) {

  .scam__main {
    flex-direction: column;
  }

  .scam-img {
    margin: 10px 25px auto auto;
  }
}

@media (max-width: 750px) {
  .slider .item__inner {
    flex-direction: column;

  }

  .feedback__name {
    display: none;
  }

  .feedback__name2 {
    display: block;
    max-width: 300px;
    margin: auto;
    margin-bottom: 10px;
  }

  .feedback__item-text {
    order: 1;
    max-width: 300px;
    margin: auto;
    margin-top: 10px;
  }

  .feedback__img {
    margin: auto;
  }

  .form-fields {
    flex-direction: column;
    justify-content: center;
  }

  .form-contacts {
    width: 100%;
  }

  .form-contacts input {
    max-width: 100%;
  }

  .form-fields textarea {
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
    min-height: 100px;
  }

  .form-fields textarea::-webkit-input-placeholder {
    /* WebKit browsers */
    color: transparent;
  }

  .form-fields textarea:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: transparent;
  }

  .form-fields textarea::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: transparent;
  }

  .form-fields textarea:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: transparent;
  }

  .form-fields textarea::placeholder {
    color: transparent;
  }

}

@media (min-width: 700px) {
  .header-title__accreditation {
    display: none;
  }

  .header-title__attention {
    display: none;
  }
}

@media (max-width: 700px) {
  .header__nav {
    justify-content: center;
  }

  .logo {
    display: none;
  }

  .header-title {
    justify-content: center;
  }

  .header-title__text {
    height: 60vh;
    width: 100%;
  }

  .header-title__h1 {
    min-height: 60%;
    justify-content: space-between;
  }

  .header-title__accreditation {
    font-size: 27px;
    margin-bottom: 20px;
  }

  .header-title__attention {
    order: 1;
    display: inline-flex;
  }

  .accreditation {
    display: none;
  }

  .verification-cost__flexblocks {
    flex-direction: column;
    align-items: center;
    max-width: 350px;
    margin: auto auto 40px;
  }

  .flexblock {
    width: 75%;
    margin: auto;
  }

  .flexblock+.flexblock {
    margin-top: 30px;
  }

  .advantages__flexblocks {
    flex-direction: column;
  }

  .scam-img {
    margin: auto;
    box-shadow: none;
  }

  .certificate {
    background: #F2F3F4;
  }

  .union {
    display: none;
  }

  .best__img {
    display: none;
  }

  .best__button {
    display: none;
  }

  .footer__inner {
    flex-direction: column;
    align-items: center;
  }

  .laws {
    order: 3;
    margin-bottom: 20px;
  }

  .contact {
    order: 1;
    margin-bottom: 20px;
  }

  .footer .call {
    order: 2;
    margin-bottom: 20px;
  }
}
